.hero-col {
  background-color: transparent !important;
}

.hero-col {
  background-color: transparent !important;
}

.hero {
  background-color: transparent !important;
}

.Hero {
  background-color: transparent !important;
}
