/* .Bids {
  width: 1400px 100%;
} */
/* 
.bids-container {
  display: flex;
  width: 100%;
  top: 13rem !important;
  margin-bottom: 50px !important;
  align-items: center !important;
}

.bids-container-text h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.bids-card {
  margin-inline: 10px;
  margin-bottom: 40px;
}
.bids-card img {
  border-radius: 20px;
  width: 100%;
}

.bids-card-bottom {
  display: flex;
  justify-content: space-between;
}
.bids-card-bottom p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
 */
